{% extends 'base.html.twig' %}

{% block title %}Detalle del Usuario{% endblock %}

{% block body %}
    <div class="container mx-auto mt-8">
        <h1 class="text-2xl font-bold mb-4">Detalle del Usuario</h1>

        <div class="overflow-x-auto">
            <table class="table-auto w-full border-collapse">
                <tbody>
                    <tr class="bg-gray-100">
                        <th class="border p-2">Nombres</th>
                        <td class="border p-2">{{ usuario.nombres }}</td>
                    </tr>
                    <tr class="bg-gray-200">
                        <th class="border p-2">Apellidos</th>
                        <td class="border p-2">{{ usuario.apellidos }}</td>
                    </tr>
                    <tr class="bg-gray-100">
                        <th class="border p-2">Password</th>
                        <td class="border p-2">{{ usuario.password }}</td>
                    </tr>
                    <tr class="bg-gray-200">
                        <th class="border p-2">Email</th>
                        <td class="border p-2">{{ usuario.email }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <a href="{{ path('app_usuario_index') }}" class="inline-block mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Volver a la lista</a>

        <a href="{{ path('app_usuario_edit', {'id': usuario.id}) }}" class="inline-block mt-4 bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded ml-2">Editar</a>

        {{ include('usuario/_delete_form.html.twig') }}
    </div>
{% endblock %}
